html {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: start;
    align-items: center;	
	max-width: 100%;
	max-height: 100%;
}

.landing_left {
    float: left;
    display: flex;
    flex-flow: row;
    width: 705px;
    height: 705px;
    max-width: 100%;
	max-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 177, 142);
}

.landing_profile {
    /* display: inline-flex; */
    width: 416px;
    height: 416px;
    max-width: 100%;
	max-height: 100%;
}

.jobtitle {
    font-size: 1.5rem;
    margin: 0px;
}

.landing_right {
    margin: 1rem;	
    /* margin-top: 1rem; */
    /* margin-inline-start: auto; */
}

/* by using rem units, if a user increases their font size, the integrity of the layout will be preserved, and the text won’t get squashed up in a rigid space meant for smaller text. */
.nav_profile {
    /* display: flex; */
    flex-flow: column;
    /* align-items: normal; */
    text-align: center;
    height: 100%;
    background-color: rgb(96, 177, 142);
    color: whitesmoke
}
.nav_profile_side {
    /* display: flex; */
    /* flex-flow: column; */
    margin-left: auto;
    /* padding: 0.25rem; */
    width: 20rem;
    height: 100%;
    text-align: center;
    background-color: rgb(96, 177, 142);
    /* background-color: rgb(75, 119, 141) */
    color: whitesmoke
}
.landing_nav {
    flex-flow: row; 
    margin-top: 2rem;
    /* margin: 0px 0px 0px 0px; */
}
.page_links>li{
    list-style-type: none;
    text-decoration: underline;
    display: inline-flex;
    /* position: relative;  */
    /* flex-flow: row wrap; */
    /* background-color: rgb(170, 228, 228); */
    /* color: black; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px; */
    margin: 2px;
    padding: 3px;
    /* padding: 0px 0px 0px 0px;     */
    /* padding-inline-start: 1  0px; */
}

.profile {
    border-radius: 50%;
    width: 30%;
    /* margin-top: 1rem; */
    margin-left: auto;
    margin-right: auto;
}
/* 
div.skills, div.software {

}  */

div.skills:first-line, div.software:first-line, div.contact:first-line {
    text-decoration: underline;
}

.no-bullet>li{
    list-style-type: none;
    display: inline-flex;
    /* position: relative;  */
    /* flex-flow: row wrap; */
    background-color: rgb(170, 228, 228);
    color: black;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px; */
    margin: 2px;
    padding: 3px;
    /* padding: 0px 0px 0px 0px;     */
    /* padding-inline-start: 1  0px; */
}

/* @media (max-width: 1024px) {
    nav a;
    float: none;
    width: 100%;
} */

.contact>div{
    /* float: top; */
    margin: 0rem 1rem 1rem 1rem;
    display: inline-flex;
    flex-flow: row wrap;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
       color:rgb(89, 122, 124)
   }

.navbar_top {
    display: flex;
    margin-left:auto;
    margin-top: 2rem;
    margin-right: 5rem;
    /* align-items: center; */
    justify-items: center;
}